Repository wolfm89/train-price-monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-infrastructure, eslint-backend, eslint-frontend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: detect-aws-credentials

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.7.1'
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: eslint-infrastructure
        language: node
        name: eslint infrastructure
        files: infrastructure/.*\.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        entry: bash -c 'cd infrastructure && exec eslint --fix --ext .ts,.tsx .'
        pass_filenames: false

  - repo: local
    hooks:
      - id: eslint-backend
        language: node
        name: eslint backend
        entry: bash -c 'cd backend && exec eslint --fix --ext .ts,.tsx .'
        files: backend/.*\.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false

  - repo: local
    hooks:
      - id: eslint-frontend
        language: node
        name: eslint frontend
        entry: bash -c 'cd frontend && exec eslint --fix --ext .ts,.tsx .'
        files: frontend/.*\.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: false

Improve pre-commit hooks
  .eslintignore
  .eslintrc.yml
  .pre-commit-config.yaml
  backend/.eslintignore
  infrastructure/.eslintignore
  infrastructure/package-lock.json
  infrastructure/package.json
Due: none

Separate eslint runs for pre-commit and solve parallel runs (#5)
  .eslintignore
  .eslintrc.yml
  .github/workflows/deploy.yaml
  .pre-commit-config.yaml
  backend/.eslintignore
  backend/src/codegen.yml
  frontend/package-lock.json
  frontend/package.json
  infrastructure/.eslintignore
  infrastructure/package-lock.json
  infrastructure/package.json
Due: none

Improve docker setup and add more workflow variables
  .github/deploy.yaml
  .github/workflows/deploy.yaml
  .vscode/settings.json
  backend/Dockerfile
  backend/docker-entrypoint.sh
  backend/package-lock.json
  backend/package.json
  docker-compose.yml
  frontend/Dockerfile
Due: none

Check only if AWS_EXECUTION_ENV is set to any value
  backend/docker-entrypoint.sh
Due: none

Separate Dockerfiles
  .prettierignore
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/docker-entrypoint.sh
  backend/src/schema/generated/resolvers.generated.ts
  backend/src/schema/generated/typeDefs.generated.ts
  docker-compose.yml
  frontend/Dockerfile.dev
Due: eslint-backend

Improve docker setup and add React variables to Github workflow (#7)
  .github/deploy.yaml
  .github/workflows/deploy.yaml
  .prettierignore
  .vscode/settings.json
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/package-lock.json
  backend/package.json
  backend/src/schema/generated/resolvers.generated.ts
  backend/src/schema/generated/typeDefs.generated.ts
  docker-compose.yml
  frontend/Dockerfile.dev
Due: eslint-backend

Switch to single table design
  backend/src/context.ts
  backend/src/model/trainPriceMonitor.ts
  infrastructure/lib/dynamodb-tables.ts
Due: eslint-infrastructure, eslint-backend

Add Notification type and query
  backend/package-lock.json
  backend/package.json
  backend/src/context.ts
  backend/src/model/trainPriceMonitor.ts
  backend/src/resolvers/notification.ts
  backend/src/resolvers/resolvers.ts
  backend/src/resolvers/user.ts
  backend/src/schema/generated/resolvers.generated.ts
  backend/src/schema/generated/typeDefs.generated.ts
  backend/src/schema/schema.graphql
Due: eslint-backend

Load notifications in frontend
  frontend/src/api/user.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/NotificationPopover.tsx
Due: eslint-frontend

Add limit to notifications query and refactor resolvers
  backend/src/lib/sort.ts
  backend/src/resolvers/notification.ts
  backend/src/resolvers/resolvers.ts
  backend/src/resolvers/user.ts
  backend/src/schema/generated/resolvers.generated.ts
  backend/src/schema/generated/typeDefs.generated.ts
  backend/src/schema/schema.graphql
  frontend/src/api/user.tsx
  frontend/src/components/Header.tsx
Due: eslint-backend, eslint-frontend

Show hint if no notifications are present
  frontend/src/components/NotificationPopover.tsx
Due: eslint-frontend

Switch to single table design and add notifications (#15)
  backend/package-lock.json
  backend/package.json
  backend/src/context.ts
  backend/src/lib/sort.ts
  backend/src/model/trainPriceMonitor.ts
  backend/src/model/user.ts
  backend/src/resolvers/user.ts
  backend/src/schema/generated/resolvers.generated.ts
  backend/src/schema/generated/typeDefs.generated.ts
  backend/src/schema/schema.graphql
  frontend/src/api/user.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/NotificationPopover.tsx
  infrastructure/lib/dynamodb-tables.ts
Due: eslint-infrastructure, eslint-backend, eslint-frontend

Add journeys to schema and create resolver to query journeys
  backend/package-lock.json
  backend/package.json
  backend/src/context.ts
  backend/src/managers/DbHafasManager.ts
  backend/src/resolvers/journey.ts
  backend/src/resolvers/resolvers.ts
  backend/src/schema/generated/resolvers.generated.ts
  backend/src/schema/generated/typeDefs.generated.ts
  backend/src/schema/schema.graphql
Due: eslint-backend

Switch to ES modules from CommonJS modules and upgrade hafas-client
  .pre-commit-config.yaml
  backend/package-lock.json
  backend/package.json
  backend/src/config/morgan.ts
  backend/src/context.ts
  backend/src/main.ts
  backend/src/managers/DbHafasManager.ts
  backend/src/resolvers/journey.ts
  backend/src/resolvers/resolvers.ts
  backend/src/resolvers/user.ts
  backend/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  infrastructure/package-lock.json
  infrastructure/package.json
Due: eslint-backend

Integrate real search
  frontend/src/api/journey.tsx
  frontend/src/components/SearchMask.tsx
  frontend/src/components/SearchResult.tsx
Due: eslint-frontend

Implement train ride search (#18)
  .pre-commit-config.yaml
  backend/package-lock.json
  backend/package.json
  backend/src/config/morgan.ts
  backend/src/context.ts
  backend/src/main.ts
  backend/src/managers/DbHafasManager.ts
  backend/src/resolvers/journey.ts
  backend/src/resolvers/resolvers.ts
  backend/src/resolvers/user.ts
  backend/src/schema/generated/resolvers.generated.ts
  backend/src/schema/generated/typeDefs.generated.ts
  backend/src/schema/schema.graphql
  backend/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/journey.tsx
  frontend/src/components/SearchMask.tsx
  frontend/src/components/SearchResult.tsx
  infrastructure/package-lock.json
  infrastructure/package.json
Due: eslint-backend, eslint-frontend

Revert to v5 of Hafas client
  backend/package-lock.json
  backend/package.json
  backend/src/config/morgan.ts
  backend/src/context.ts
  backend/src/main.ts
  backend/src/managers/DbHafasManager.ts
  backend/src/resolvers/journey.ts
  backend/src/resolvers/resolvers.ts
  backend/src/resolvers/user.ts
  backend/tsconfig.json
  infrastructure/lib/backend.ts
  infrastructure/package.json
Due: eslint-infrastructure, eslint-backend

Increase Lambda timeout and memory
  infrastructure/lib/backend.ts
Due: eslint-infrastructure

Add ToolkitCleaner to keep CDK assets clean
  .gitignore
  infrastructure/lib/infrastructure-stack.ts
  infrastructure/package-lock.json
  infrastructure/package.json
Due: eslint-infrastructure

Revert to v5 of hafas-client (#19)
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/config/morgan.ts
  backend/src/context.ts
  backend/src/main.ts
  backend/src/managers/DbHafasManager.ts
  backend/src/resolvers/journey.ts
  backend/src/resolvers/resolvers.ts
  backend/src/resolvers/user.ts
  backend/tsconfig.json
  infrastructure/lib/backend.ts
  infrastructure/lib/infrastructure-stack.ts
  infrastructure/package-lock.json
  infrastructure/package.json
Due: eslint-infrastructure, eslint-backend

Re-initialize API client on login
  frontend/src/App.tsx
  frontend/src/utils/apiClient.tsx
Due: eslint-frontend

Re-initialize API client on login (#20)
  frontend/src/App.tsx
  frontend/src/utils/apiClient.tsx
Due: eslint-frontend

Add loading icon to search
  frontend/src/components/SearchMask.tsx
  frontend/src/components/SearchResult.tsx
  frontend/src/pages/SearchPage.tsx
Due: eslint-frontend

Add loading icon to search (#21)
  frontend/src/components/SearchMask.tsx
  frontend/src/components/SearchResult.tsx
  frontend/src/pages/SearchPage.tsx
Due: eslint-frontend

Add Gitpod configuration
  .gitpod.Dockerfile
  .gitpod.yml
  backend/package-lock.json
  frontend/package-lock.json
Due: none

Add AWS cli and wait for setup before starting servers
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

Adjust config
  .gitpod.yml
Due: none

Fix typo
  .gitpod.yml
Due: none

Fixes
  .gitpod.yml
Due: none

Use dotenv for profile image bucket
  backend/src/resolvers/user.ts
Due: eslint-backend

Remove .env file
  backend/.env
Due: none

Write complete backend/.env file
  .gitpod.yml
Due: none

Use env for role arn
  .gitpod.yml
Due: none

Move sync-await to command
  .gitpod.yml
Due: none

Make Gitpod tasks more concise
  .gitpod.yml
Due: none

Switch access credentials for AWS instead of OIDC provider
  .gitpod.yml
Due: none

Add Gitpod hint to README
  README.md
Due: none

Add Gitpod configuration to project (#23)
  .gitpod.Dockerfile
  .gitpod.yml
  README.md
  backend/.env
  backend/package-lock.json
  backend/src/resolvers/user.ts
  frontend/package-lock.json
Due: eslint-backend
